

<div>Gratulerer!</div>

<div>Dere klarte alt i denne store magnificante el'grande quizzen!</div>

<div>Den første nøkkelen til godissafen glemte jeg når jeg smurte langrennskiene mine! Der finner dere også neste ledetråd. </div>

<div>MOHAHAHA!</div>
