<nav>
  {{#link-to 'daniel'}}<img class="login-image" src="images/daniel.jpg">{{/link-to}}
  {{#link-to 'tiril'}}<img class="login-image" src="images/tiril.jpg">{{/link-to}}
  {{#link-to 'hilde'}}<img class="login-image" src="images/hilde.jpg">{{/link-to}}
  {{#link-to 'svein'}}<img class="login-image" src="images/sveintrott.jpg">{{/link-to}}
</nav>

{{outlet}}
