<nav>
  {{#link-to 'daniel'}}<img class="login-image" src="images/Daniel.jpg">{{/link-to}}
  {{#link-to 'tiril'}}<img class="login-image" src="images/Tiril.jpg">{{/link-to}}
  {{#link-to 'hilde'}}<img class="login-image" src="images/Hilde.jpg">{{/link-to}}
  {{#link-to 'svein'}}<img class="login-image" src="images/SveinTrott.jpg">{{/link-to}}
</nav>

{{outlet}}
