<div class="header">Hvem er du?</div>
<nav>
  {{#link-to 'daniel'}}<img class="login-image" src="images/Daniel_square.jpg">{{/link-to}}
  {{#link-to 'tiril'}}<img class="login-image" src="images/Tiril_square.jpg">{{/link-to}}
  {{#link-to 'hilde'}}<img class="login-image" src="images/Hilde_square.jpg">{{/link-to}}
  {{#link-to 'svein'}}<img class="login-image" src="images/Svein_square.jpg">{{/link-to}}
</nav>

{{outlet}}
